<table width="805"  border="0" align="center"  bgcolor="white" cellpadding="0" cellspacing="0" valign="top">
	<tr>
		<td>
			<table width="779" border="0" cellpadding="0" cellspacing="0">
				<tr height="30">
					<td>
						<div style="font-size:18px;color:blue">Welcome to Cars</div>
					</td>
				</tr>
				<tr>
					<td align="right">
						<table  border="0" cellspacing="0" valign="middle" cellpadding="1" width="100%">
							<tr >
								<%= render :partial => '/layouts/menu' %>
							</tr>	  				  
						</table>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

