<td align="right">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<a href="/home"><b>Home</b></a>
			</td>
			<td>
				<a href="/home"><b>New Cars</b></a>
			</td>
			<td>
				<a href="/home"><b>Old Cars</b></a>
			</td>
			<td>
				<a href="/home"><b>Post Your Ad</b></a>
			</td>
		</tr>		
	</table>
</td>
